{% extends "base.html" %} {% block contents %}



<section id="predication-data">
  <div class="predication-graph">{{div|safe}}</div>

  <div id="indices" class="predication-values">
    <div class="future-values">
      <div class="current-values">
        <h3>Current Price</h3>

        <p id="curprice"></p>
      </div>
      <div class="current-values">
        <h3>Open Price</h3>
        <p id="openprice"></p>
      </div>
      <div class="current-values">
        <h3>Day High</h3>
        <p id="dhigh"></p>
      </div>
      <div class="current-values">
        <h3>Day Low</h3>
        <p id="dlow"></p>
      </div>
      <div class="current-values">
        <h3>High 52</h3>
        <p id="h52"></p>
      </div>
      <div class="current-values">
        <h3>Low 52</h3>
        <p id="l52"></p>
      </div>
    </div>
  </div>

  <div>
    <button class="updateButton" id="stkbtn" style="display: none">
      Refresh
    </button>
  </div>
  <div>
    <button class="predButton" id="predbtn" style="display: none">
      Refresh
    </button>
  </div>
  <div class="close">
    <div class="close-predication">
      <h3>Prediction (Close)</h3>
      <div class="close-predication-values">
        <p id="prediction"></p>
      </div>
    </div>
  </div>
  <br>
</section>

{% endblock %} {%block script%}
<script src="/static/s_data.js"></script>
{%endblock%}
